// Bootstrap library.
@import 'bootstrap';


// Disabilty theme overrides.
@import 'flexslider';

/* FONT */
h1 {
	font-size:2.6em;
	@media (max-width: @screen-xs-max) {
		font-size: 1.6em;
		padding-left: 1em;
	}
}
h2 {
	font-size: 2.15em; /* ~30px */
}

h3 {
	color:@brand-primary;
	font-size: 1.7em; /* ~24px */
	a {
		color:@brand-primary;
	}
}
h4 {
	font-weight: bold;

}
/* PAGE TOP */
.logo-wrapper,
.logo-wrapper-inside,
.navbar-wrapper,
.navbar-wrapper-inside,
#block-crumbs-breadcrumb,
.tabs--primary,
.views-exposed-form {
	padding-left: 3%;
	padding-right: 3%;
}
.logo-wrapper,
.logo-wrapper-inside {
	padding-bottom:1.5em;
}
#logo,
#green-menu,
#sitename,
#search-browse {
	display: inline-block;
}
#sitename h1 {
    color: #26635E;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    margin-top: 0;
    		&:focus, &:hover {
			color:inherit;
		}
}
#green-menu,
#search-browse {
	float:right;
}
.navbar-toggle {
	margin-left:1em;
	margin-right: 0;
	border-color: @brand-primary;
}
.navbar-toggle .icon-bar {
	background-color: @brand-primary;
}
.navbar-collapse.collapse {
	padding-right: 0;
}
.navbar-collapse.in {
	display:inline-block;
	overflow-y: visible;
}
#logo {
	margin-top:1em;
}
#uta_logo,
#lib_logo {
	height: 2.15em; /* ~30px */
	width:auto;
	&:hover, 
	&:focus {
		background: rgba(23,24,24,0.18) none repeat scroll 0% 0%;
	}
	@media (max-width: @screen-xs-max) { 
		height: 1em;
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		height: 1.5em;
	}
}
#uta_logo {
	padding-right: 1em;
	border-right: 1px solid #FFF;
}
#navbar,
#navbar-front {
	padding-top: 1em;
	background-color: transparent;
	margin-left: -15px;
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		margin-left:0;
	}
}
#navbar-front {
	margin-bottom:0;
}
nav.navbar {
	margin-bottom: 0;
}
.region-header {
	margin-left: -15px;
}
.region-navigation {
	.form-control {
		border-color: @brand-primary;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
}

/* FRONT PAGE */
.logo-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 20;
	background-color: rgba(17, 17, 17, 0.5);
	/*height: 6em; */
}

.navbar-wrapper {
	background-color: rgba(255,255,255,0.8);
	margin-top:4em;
	position: absolute;
	right: 0;
	left:0;
	z-index: 20;
	@media (max-width: @screen-xs-max) {
		position:static;
	}
}
#highlighted {
	margin-right: -15px;
	margin-left: -15px;
	#hero {
		width: 100%;
		height:auto;
	}
	#herocaption {
		background-color: rgba(38, 99, 94, 0.9);
		color: rgb(255, 255, 255);
		position: absolute;
		top: 14em; /* ~250px */
		z-index: 150;
		right: 0;
		padding: 1.5em; /* 21px */
		max-width: 28.6em; /* ~400px */
		margin-right: 2%;
		font-size: 1.2em; /* ~17px */
		a {
			color:#fff;
			text-decoration: underline;
		}
		@media (max-width: @screen-sm-max){
			position: static;
			margin-right: 0;
			max-width: 100%;
			width: 100%;
		} 
	}
}
#block-menu-menu-browse-by {
	display:inline-block;
	float:right;
	padding-top: 0.5em;
	> ul > li > a {
		border:1px solid @brand-primary;
		border-radius: @border-radius-base;
		padding:6px 12px;
		box-shadow: inset 1 1px 1px rgba(0,0,0,0.075);
		background-color:#fff;
		color: @font-teal;
	}
}
#block-views-exp-search-page {
	display:inline-block;
} 
#edit-search-api-multi-fulltext-wrapper {
	padding-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	max-width: 6em;
	label {
		position: fixed;
		right: -9999px;
	}
}
#edit-submit-search,
#edit-submit-keyword,
#edit-submit-topic-with-filter,
#edit-reset {
	margin-top: 0;
}
#edit-submit-search {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.secondary {
	> li.first > a {
		border-bottom-left-radius: @border-radius-base;
	}
	> li { 
		@media (min-width: @screen-md-min) and (max-width: @screen-sm-max) { display:inline-block; }
		> a {
		background-color: @font-teal;
		color:#fff;
		padding-top: 0.71em; /* ~10px */
		padding-bottom: 0.71em; /* ~10px */
		border-right: 1px solid #fff;
			&:hover,
			&:focus {color:#000;}
		}
	}
	> li.last > a {
		border-bottom-right-radius: @border-radius-base;
		border-right-width: 0;
	}
	@media (max-width: @screen-sm-max) {
		> li {
	    	float: left;
		    // Links rendered as pills
		    > a {
		    	border-radius: @nav-pills-border-radius;
		    }
		    + li {
		    	margin-left: 2px;
			}
		}
	}
}
#news-events {
	margin: 2em 0;
}
#backtotop {
	background: transparent url("/txdisabilityhistory/sites/default/files/back-to-top.png") no-repeat scroll center center;
	height: 82px;
	width: 82px;
	@media (max-width: @screen-sm-max) {
		background: transparent url("/txdisabilityhistory/sites/default/files/back-to-top_2.png") no-repeat scroll center center;
		height: 2em;
		width: 2em;
	}
}
.region-content {
	margin-bottom:4em;
}

.breadcrumb {
	text-transform: lowercase;
	padding-left: 0;
}
.field-items {
	margin-bottom: 0.75em;
}
/*.row-field {
	margin-bottom:0.35em;
}*/
/* NEWS & EVENTS */
.views-more-link {
	float:right;
	text-decoration: underline;
	padding: 0 0.71em; /* 0 ~10px */
}
.news-events-home {
	border-radius:0;
	padding: 0.71em; /* ~10px */
}
.media {
	background-color: @gray-lighter;
	.media-body {
		padding: 0.71em 2.15em; /* ~10px ~30px */
		p {
			font-size:1em;
		}
	}
}
.views-label-field-biography,
.views-label-field-birth-date, 
.views-label-field-death-date,
.views-label-field-alternative-name,
.views-label-name-1 {
	font-weight: bold;
}
.vefl-region-right {
	float: right;
} /* for exposed filters on term pages */
#views-bootstrap-grid-1 > div.row,
.row-filter {
	padding-top:2em; /* ~28px */
}
hr {
	border-top-color: @brand-primary;
}
.pager li > a, .pager li > span {
	float:right;
	border-radius:@border-radius-base;
	background-color: @font-teal;
	color:#FFF;
	&:hover, &:focus {
		color:@brand-primary;
	}
}
.caption {
	padding: 0 1em 0 0;
}
/* BASIC PAGE */
.indent { 
	margin-left:3%;
} /* used on collection & person taxonomy term page */
.pane-page-title {
	padding-left:3%;
}
#page-title h2 {
	padding-left: 15px;
}
#contact-site-form, 
#page-body,
#about-collection {
	margin-left: 12%;
	margin-right: 29%;
	p, li {
		font-size: 1.4em;
	}
}
#about-collection {
	p, li {
		font-size: 1.4em;
	}
}
/* COLLECTION PAGE */
.panels-flexible-collections_layout {
	margin-bottom:2.15em; /* ~30px */
	h3 {
		margin-top: 0;
	}
}

/* FIELD COLLECTION CSS */
.field-name-field-date-created,
.field-name-field-approximate-date,
.field-name-field-publisher,
.field-name-field-publication-place,
.field-name-field-publication-date {
	display:inline-block;
}
/* FOOTER */
footer{
	background-color: @text-color;
	color: #fff;
	p {
		font-size: 1em;
	}
	a {
		color:#fff;
		text-decoration: underline;
	}
}
#block-block-2 {
	padding: 1em;
}

/* MAINTENANCE MODE */
.in-maintenance {
	color:@font-teal;
	padding:50px;
	h1 {
		padding-left: 0;
		a {
			color:@brand-primary;
		}
	}
	#page-title h1{
		margin-left: 0;
		a {
			color:@brand-warning;
		}
	}
}